.root {
  --spt-color-text: #000;
  --spt-color-bg-view-1: #f3efe6;
  --spt-color-bg-view-2: #cbb37e;
  --spt-color-link: #000;
  --spt-color-link-hover: #000;
  --spt-color-button: #000;
  --spt-color-button-hover: #634c18;

  position: relative;
  width: 100%;
  min-height: 480px;
  height: 100%;
  color: var(--spt-color-text);
  background-color: var(--spt-color-bg-view-1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-size: 15px;
}

.root a {
  text-decoration: none;
  color: var(--spt-color-link);
  outline: none;
}

.root a:hover {
  color: var(--spt-color-link-hover);
}

.root a:focus {
  outline: none;
  background: lightgrey;
}

.root a:focus:not(:focus-visible) {
  background: transparent;
}

.root a:focus-visible {
  outline: 2px solid #fff;
  background: transparent;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  min-height: inherit;
  height: 100%;
}

.frame {
  grid-area: 1 / 1 / 2 / 2;
  padding: 1.5rem 2rem 10vh;
  text-align: center;
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.frame a {
  pointer-events: auto;
}

.frameTitle {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.frameLinks {
  margin: 0.5rem 0 2rem;
}

.frameLinks a:not(:last-child) {
  margin-right: 1rem;
}

.button {
  color: var(--spt-color-button);
  border-radius: 30px;
  min-width: 150px;
  padding: 1rem 2rem;
  border: 1px solid currentColor;
}

.button:hover,
.button:focus-visible {
  color: var(--spt-color-button-hover);
}

.frameViewOpen .buttonOpen {
  opacity: 0;
  pointer-events: none;
}

.view {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  place-items: center;
  min-height: inherit;
}

.view2 {
  background: var(--spt-color-bg-view-2);
  pointer-events: none;
  opacity: 0;
}

.viewOpen {
  pointer-events: auto;
  opacity: 1;
}

.overlay {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  z-index: 1000;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 53em) {
  .frame {
    padding: 1.5rem 2rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "title links sponsor";
    grid-gap: 3vw;
    justify-content: space-between;
    text-align: left;
  }

  .frameLinks {
    margin: 0;
  }
}
